drivers/archive/touchless/sourceCode/trunk/Touchless/Touchless.Vision.Service.Client/Service References/TouchlessHost/host2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Touchless.Vision.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Touchless.Vision.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/touchless/host?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="Frame">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Frame" nillable="true" type="tns:Frame" />
  <xs:complexType name="ArrayOfDetectedObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetectedObject" nillable="true" type="tns:DetectedObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetectedObject" nillable="true" type="tns:ArrayOfDetectedObject" />
  <xs:complexType name="DetectedObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Position" type="q1:Point" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetectedObject" nillable="true" type="tns:DetectedObject" />
</xs:schema>